<template>
    
    <div class="chocolates-container">
        <h2>Chocolates</h2>
        <table id="tabela">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Price</th>
                            <th>Kind</th>
                            <th>Type</th>
                            <th>Weight</th>
                            <th>Description</th>
                            <th>Stock status</th>
                            <th>Stock quantity</th>
                            <th>Image</th>
                            <th>Edit</th>
                            <th>Delete</th>
                        </tr>
                    </thead>
                    <tr v-for="c in chocolates" :key="c.id">
                        <td>{{ c.name }}</td>
                        <td>{{ c.price }}</td>
                        <td>{{ c.kind }}</td>
                        <td>{{ c.type }}</td>
                        <td>{{ c.weight }}</td>
                        <td>{{ c.description }}</td>
                        <td>{{ c.stockStatus }}</td>
                        <td>{{ c.stockQuantity }}</td>
                        <td><img :src="c.image" width="50px" height="50px" /></td>
                        <td><i class="fas fa-edit" v-on:click="editChocolate(c.id)"></i></td>
                        <td><i class="fas fa-trash-alt" v-on:click="deleteChocolate(c.id)"></i></td>
                    </tr>
                </table>
    </div>
</template>

<script setup>

import {useRoute} from 'vue-router';
import axios from "axios";
import { onMounted, ref } from "vue";
import jsCookie from 'js-cookie';

const chocolates = ref([]);
const userRole = ref();

onMounted(() => {
    console.log("Id fabrikeee: " + props.factoryId);
    loadChocolates();
    setUserRole();
})

function loadChocolates(){
    axios.get("http://localhost:8080/WebShopAppREST/rest/chocolates/search/?factoryId=" + props.factoryId)
        .then(response => (chocolates.value = response.data))
        .catch(function(error){console.log(error)})
}

function setUserRole(){ 
  userRole.value = Cookies.get('userRole');
  if(userRole.value != 'CUSTOMER' && userRole.value != 'WORKER' && userRole.value != 'MANAGER' && userRole.value != 'ADMINISTRATOR'){
    userRole.value = 'NO_ROLE';
  }
  console.log('OVO JE MOJA ULOGA(Home): ' + userRole.value);
}

</script>


<style scoped>

</style>


