<template>
	<div id="web-shop">
		<h1>Table</h1>
		<div id="products">
			<h3>{{ title }}</h3>

			<table id="tabela">
				<thead>
					<tr>
						<th>Naziv</th>
						<th>Lokacija</th>
                        <th>Logo</th>
                        <th>Ocena</th>
                        <th>Preview</th>
					</tr>
				</thead>

				<tr v-for="f in factories" :key="f.id">					
					<td>{{ f.name }}</td>
					<td> {{ f.location.streetAndNumber}} </td>
					<td><img :src="f.logo" width="50px" height="50px" /></td>
                    <td>{{ f.rating }}</td>
                    <td><router-link :to="{name:'factory', params: { factoryId:f.id } }">View</router-link></td>
				</tr>
			</table>
		
		</div>
	</div>
</template>

<script setup>
import axios from 'axios';
import {useRoute} from 'vue-router';
import { onMounted, ref } from 'vue';


const title = ref("Factories");
const factories = ref([]);
const mode = ref("BROWSE");
const error = ref("");
const selectedProduct = ref({ name: "", price: 0 });

onMounted(() => {
	loadProducts();
})

function loadProducts() {
	  axios.get('http://localhost:8080/WebShopAppREST/rest/factories/')
        .then(response => {
            factories.value = response.data;

            factories.value.forEach(factory => {

				axios.get(`http://localhost:8080/WebShopAppREST/rest/locations/${factory.locationId}`)
                    .then(locationResponse => {
                        factory.location = locationResponse.data;

                        console.log(factory);
                    })
                    .catch(error => {
                        console.error('Error loading location:', error);
                    });
            });
        })
        .catch(error => {
            console.error('Error loading products:', error);
        });
}

</script>

<style scoped>
#web-shop {
	width: 600px;
}

#tabela {
	color: white;
	background-color: #333;
	border-collapse: collapse;
	width: 100%;
}

#tabela th,
#tabela td {
	padding: 8px;
	text-align: left;
	border-bottom: 1px solid #ddd;
}

#tabela th {
	background-color: #555;
}

#tabela tr:nth-child(even) {
	background-color: #444;
}

#tabela tr:hover {
	background-color: #777;
}

.dodaj {
	padding: 8px;
	border: none;
	border-radius: 0.25rem;
	background-color: #007bff;
	color: white;
}
</style>