<template>
    <div>
        <h1>Login</h1>
        <form class="login-component" @submit.prevent="login">
            <div>
                <label for="username">Username:</label>
                <input type="text" id="username" v-model="username" required>
            </div>
            <div>
                <label for="password">Password:</label>
                <input type="password" id="password" v-model="password" required>
            </div>
            <label class="error-label">{{ errorMessage }}</label>
            <button class="submit" type="submit">Login</button>

            <br>

            <!-- <p id="success">{{ success }}</p>
            <p id="error">{{ errorMessage }}</p> -->
        </form>
    </div>
</template>

<script setup>
import axios from 'axios';
import { ref } from 'vue';
import Cookies from 'js-cookie';

var errorMessage = ref("");

const login = () => {
    axios.post('http://localhost:8080/WebShopAppREST/rest/users/login', { username: username.value, password: password.value })
        .then(response => {
            if (response.data && Object.keys(response.data).length > 0) {
                const userRole = response.data.userRole; // Ovo bi trebalo da dolazi iz servera nakon uspešne prijave
                const managerFactoryId = response.data.managerFactoryId;
                const userId = response.data.id;
                const firstName = response.data.firstName;
                const lastName = response.data.lastName;
                Cookies.set('userRole', userRole, { secure: true, sameSite: 'Strict' });
                Cookies.set('managerFactoryId', managerFactoryId, { secure: true, sameSite: 'Strict'});
                Cookies.set('userId', userId, { secure: true, sameSite: 'Strict'});
                Cookies.set('firstName', firstName, { secure: true, sameSite: 'Strict' });
                Cookies.set('lastName', lastName, { secure: true, sameSite: 'Strict' });
                window.location.href = "http://localhost:3000/#/"
            }else{
                console.log("Wrong username or password");
                errorMessage.value = "Wrong username or password";
            }
        })
        .catch(error => {
            console.error(error);
        });
}

</script>

<style scoped>
.login-component {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin: 0 auto;
    width: 400px;
}

.login-component label {
    font-weight: bold;
    display: block;
}

.login-component input {
    padding: 0.5rem;
    border: 1px solid #797979;
    border-radius: 0.25rem;
    background-color: #555555;
    color: white;
    display: block;
    width: 100%;
}

.login-component>.submit {
    padding: 0.5rem;
    border: none;
    border-radius: 0.25rem;
    background-color: #007bff;
    color: white;
    cursor: pointer;
}

.login-component>.submit:hover {
    background-color: #0056b3;
}

p {
    display: block;
}
.error-label{
    color: red;
    font-weight: bold;
}

/* Add your component-specific styles here */
</style>