<template>
      <div class="user-container">
        <h2 v-if="userRole == 'NO_ROLE'">Fill the form and sign up</h2>
        <h2 v-if="userRole == 'MANAGER' && $props.updateMode == false">Create worker</h2>
        <h2 v-if="$props.updateMode == true">Update profile data</h2>
            <form v-on:submit.prevent="nesto">
        <div>
            <label>Username: </label>
            <input v-model="user.username"/>
        </div>
        <div>
            <label>Password: </label>
            <input  v-model="user.password"/>
        </div>
        <div>
            <label>Re-enter password: </label>
            <input  v-model="user.passwordReEntered"/>
        </div>
        <div>
            <label>Name: </label>
            <input  v-model="user.firstName"/>
        </div>
        <div>
            <label>Last name: </label>
            <input v-model="user.lastName" />
        </div>
        <div>
            <label>Gender: </label>
            <select v-model="user.gender">
            <option value="MALE">MALE</option>
            <option value="FEMALE">FEMALE</option>
            </select>
        </div>
        <div>
            <label>Date of birth: </label>
              <input type="date" v-model="user.birthDate">
        </div>

        <div>
            <label class="feedback-message"> {{ feedbackMessage }} </label>
        </div>

        <button v-if="$props.updateMode" v-on:click="updateUser">Update</button>
        <button v-if="userRole == 'NO_ROLE'" v-on:click="createUser">Sign up</button>
        <button v-if="userRole == 'MANAGER' && $props.updateMode == false" v-on:click="createUser">Create worker</button>
        <!-- <button v-if="!prikazi" v-on:click="add">Add</button>
        <button v-if="prikazi" v-on:click="update">Update</button> -->
        </form>
    </div>
</template>


<script setup>
import {useRoute} from 'vue-router';
import axios from "axios";
import { onMounted, ref } from "vue";
import { format } from 'date-fns';
import Cookies from 'js-cookie';

const user = ref({
    id: "",
    username: "",
    password: "",
    passwordReEntered: "",
    firstName: "",
    lastName: "",
    gender: "",
    birthDate: "",
    userRole: ""
})
var userRole = ref()
var feedbackMessage = ref()

onMounted(() => {
    setUserRole();
})

function setUserRole(){ 
  userRole.value = Cookies.get('userRole');
  if(userRole.value != 'CUSTOMER' && userRole.value != 'WORKER' && userRole.value != 'MANAGER' && userRole.value != 'ADMINISTRATOR'){
    userRole.value = 'NO_ROLE';
  }
  console.log('**OVO JE MOJA ULOGA: ' + userRole.value);
}

function createUser(){
    if(userRole.value == 'MANAGER'){
        user.value.userRole = 'WORKER';
    }else{
        user.value.userRole = 'CUSTOMER';
    }
    //user.value.userRole = "CUSTOMER";
    const formattedDate = format(user.value.birthDate, 'dd-MM-yyyy HH:mm:ss');
    user.value.birthDate = formattedDate;
    console.log(user.value)
    axios.post(`http://localhost:8080/WebShopAppREST/rest/users/`, user.value)
        .then(response => {
            // emptyInputs();
            // loadChocolates();
            if(userRole.value !== 'MANAGER'){
                const userRole = 'CUSTOMER'; // Ovo bi trebalo da dolazi iz servera nakon uspešne prijave
                const managerFactoryId = response.data.managerFactoryId;
                const userId = response.data.id;
                Cookies.set('userRole', userRole, { secure: true, sameSite: 'Strict' });
                Cookies.set('managerFactoryId', managerFactoryId, { secure: true, sameSite: 'Strict' });
                Cookies.set('userId', userId, { secure: true, sameSite: 'Strict' });
                console.log("USPESNO KREIRANJE");
                window.location.href = "http://localhost:3000/#/"
            }else{
                emptyInputs();
                feedbackMessage.value = "Worker successfully created";
            }
        }).catch(function(error){console.log(error); });
}

function emptyInputs(){
    user.value.username = "";
    user.value.password = "";
    user.value.passwordReEntered = "";
    user.value.firstName = "";
    user.value.lastName = "";
    user.value.gender = "";
    user.value.birthDate = "";
    user.value.userRole = "";
}
</script>


<style scoped>
html, body {
    font-family: Arial, sans-serif;
    background-color: #1c1c1c;
    margin: 0;
    padding: 20px;
    color: #d1d1d1;
    gap: 20px;
}
.main-div{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
}

.user-container {
    width: 400px;
    background-color: #333;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
    padding: 20px;
    max-width: 500px;
    flex: 1;
    color: #d1d1d1;
    margin: 10px;
}

form div {
    margin-bottom: 10px;
}

input, select {
    width: calc(100% - 22px);
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #00ff00;
    background-color: #555;
    color: #d1d1d1;
}

button {
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    background-color: #00ff00;
    color: #333;
    cursor: pointer;
}

button:hover {
    background-color: #00cc00;
}
.feedback-message{
    color: #00ff00;
    font-weight: bold;
}

</style>