<script setup>

</script>

<template>
  <section class="welcome">
    <h2>Welcome to your Vue 3 project!</h2>

    <div>
      <RouterLink to="/login">Login</RouterLink>
    </div>
    <div>
      <RouterLink to="/webshop">WebShop</RouterLink>
    </div>
  </section>
</template>
