<template>
    <h2>Search users:</h2>
    <div class="search-container">
        <div class="search-div">
            <label>First Name:</label>
            <input v-model="firstName" @input="onInputChange"/>
        </div>
        <div class="search-div">
            <label>Last Name:</label>
            <input v-model="lastName" @input="onInputChange"/>
        </div>
        <div class="search-div">
            <label>Username:</label>
            <input v-model="username" @input="onInputChange"/>
        </div>
        <div class="filter-container">
        <div>
            <label>User role: </label>
            <select>
                <option :value="CUSTOMER">CUSTOMER</option>
                <option :value="WORKER">WORKER</option>
                <option :value="MANAGER">MANAGER</option>
                <option :value="ADMINISTRATOR">ADMINISTRATOR</option>
            </select>
        </div>
        <div>
            <label>Customer type: </label>
            <select>
                <option :value="Gold">Gold</option>
                <option :value="Silver">Silver</option>
                <option :value="Bronze">Bronze</option>
            </select>
        </div>
        </div>
       
    </div>
        <div class="chocolates-container">
        <h2>All users</h2>
        <table id="tabela">
                    <thead>
                        <tr>
                            <th @click="sortUsersByUsername" class="th-sort">Username <span>{{ getSortIcon('username') }}</span></th>
                            <th>Password</th>
                            <th @click="sortUsersByFirstName" class="th-sort">First Name <span>{{ getSortIcon('firstName') }}</span></th>
                            <th @click="sortUsersByLastName" class="th-sort">Last Name <span>{{ getSortIcon('lastName') }}</span></th>
                            <th>User role</th>
                            <th>Gender</th>
                            <th>Birth date</th>
                        </tr>
                    </thead>
                    <!-- <tr v-if="sortKey == ''" v-for="u in users" :key="u.id"> -->
                    <tr v-for="u in sortKey == ''? users : sortedUsers" :key="u.id">
                        <td>{{ u.username }}</td>
                        <td>{{ u.password }}</td>
                        <td>{{ u.firstName }}</td>
                        <td>{{ u.lastName }}</td>
                        <td>{{ u.userRole }}</td>
                        <td>{{ u.gender }}</td>
                        <td>{{ u.birthDate }}</td>
                  </tr>
                </table>
    </div>
</template>

<script setup>
import { onMounted, ref, computed} from "vue";
import Cookies from 'js-cookie';
import axios from "axios";

const users = ref([])
const sortKey = ref('');
const isSortedAsc = ref(true);
const firstName = ref("");
const lastName = ref("");
const username = ref("");

onMounted(() => {
    const userRole = Cookies.get('userRole');
    loadUsers();
})

function loadUsers(){
    axios.get("http://localhost:8080/WebShopAppREST/rest/users/")
        .then(response => {
            users.value = response.data;
        })
        .catch(function(error){console.log(error)})
}

function onInputChange() {
    console.log("Input changed:", firstName.value);
    axios.get("http://localhost:8080/WebShopAppREST/rest/users/search?firstName=" + firstName.value + "&lastName=" + lastName.value + "&username=" + username.value)
        .then(response => {
            users.value = response.data;
        })
        .catch(function(error){console.log(error)})
}
function sortUsersByFirstName() {
  if (sortKey.value === 'firstName') {
    isSortedAsc.value = !isSortedAsc.value;
  } else {
    sortKey.value = 'firstName';
    isSortedAsc.value = true;
  }
}

function sortUsersByLastName() {
  if (sortKey.value === 'lastName') {
    isSortedAsc.value = !isSortedAsc.value;
  } else {
    sortKey.value = 'lastName';
    isSortedAsc.value = true;
  }
}
function sortUsersByUsername(){
  if (sortKey.value === 'username') {
    isSortedAsc.value = !isSortedAsc.value;
  } else {
    sortKey.value = 'username';
    isSortedAsc.value = true;
  }
}
const sortedUsers = computed(() => {
  return [...users.value].sort((a, b) => {
    let comparison = 0;
    if (sortKey.value === 'firstName') {
      comparison = a.firstName.localeCompare(b.firstName);
    } else if (sortKey.value === 'lastName') {
      comparison = a.lastName.localeCompare(b.lastName);
    } else if (sortKey.value === 'username'){
        comparison = a.username.localeCompare(b.username);
    }
    return isSortedAsc.value ? comparison : -comparison;
  });
});

function getSortIcon(key) {
  if (sortKey.value !== key) return '';
  return isSortedAsc.value ? '▲' : '▼';
}

</script>

<style scoped>
.search-container{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    width: 800px;
    padding: 15px;
}
.filter-container{
    display: flex;
    flex-direction: row;
}

.chocolates-container{
    width: 800px;
    background-color: #333;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
    padding: 20px;
    max-width: 800px;
    color: #d1d1d1;
    margin: 10px;
}

h1, h2 {
    color: #00ff00; /* Zelena boja */
}

p {
    color: #d1d1d1;
}

form div {
    margin-bottom: 10px;
}

input, select {
    width: calc(100% - 22px);
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #00ff00;
    background-color: #555;
    color: #d1d1d1;
}

button {
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    background-color: #00ff00;
    color: #333;
    cursor: pointer;
}

button:hover {
    background-color: #00cc00;
}

#tabela {
	color: white;
	background-color: #333;
	border-collapse: collapse;
	width: 100%;
}

#tabela th,
#tabela td {
	padding: 8px;
	text-align: left;
	border-bottom: 1px solid #ddd;
}

#tabela th {
	background-color: #555;
}

#tabela tr:nth-child(even) {
	background-color: #444;
}

#tabela tr:hover {
	background-color: #777;
}
.th-sort{
    cursor: pointer;
}
</style>