<script setup>
import FactoriesTable from '../components/FactoriesTable.vue'

</script>

<template>
  <div class="about">
    <FactoriesTable />
  </div>
</template>

<style>
@media (min-width: 1024px) {
  .about {
    min-height: 100vh;
    display: flex;
    align-items: center;
  }
}
</style>
