<template>

<head>
  <!-- Ostali elementi -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<header>
    <div class="user-info">
        <i class="fa fa-user-circle"></i> <!-- User icon -->
        <span class="username">Username</span> <!-- Username -->
        <i class="fas fa-shopping-bag" v-on:click="toggleCartPopup()"></i>
    </div>
</header>
<div class="main-div">
    <div class="factory-container">
        <h1>{{ factory.name }}</h1>
        <p><strong>Radno vreme:</strong> {{ factory.workingTime }}</p>
        <p><strong>Is working: </strong>{{ factory.status }}</p>
        <p><strong>Street and number: </strong>{{ location.streetAndNumber }}</p>
        <p><strong>City: </strong>{{ location.city }}</p>
        <p><strong>Postal code: </strong>{{ location.postalCode }}</p>
        <img :src="factory.logo" width="100px" height="100px" />
        <p><strong>Rating: {{ factory.rating }}</strong></p>
    </div>
    <div class="factory-container">
        <h2>Komentari</h2>
        <ul v-for="c in comments" :key="c.id" class="comment-list">
            <li>
                <div class="comment">
                    <div class="author">Autor</div>
                    <div class="content">{{ c.content }}</div>
                    <div class="rating">Ocena: {{ c.rating }}</div>
                </div>
            </li>
        </ul>
    </div>
</div>

<div class="chocolates">
    <div class="chocolates-container">
        <h2>Chocolates</h2>
        <table id="tabela">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Price</th>
                            <th>Kind</th>
                            <th>Type</th>
                            <th>Weight</th>
                            <th>Description</th>
                            <th>Stock status</th>
                            <th>Stock quantity</th>
                            <th>Image</th>
                            <th v-if="userRole == 'MANAGER' && factory.id == managerFactoryId">Edit</th>
                            <th v-if="userRole == 'MANAGER' && factory.id == managerFactoryId">Delete</th>
                            <th v-if="userRole == 'WORKER' && factory.id == managerFactoryId">Edit stock quantity</th>
                            <th v-if="userRole == 'CUSTOMER'">Add to cart</th>
                        </tr>
                    </thead>
                    <tr v-for="c in chocolates" :key="c.id">
                        <td>{{ c.name }}</td>
                        <td>{{ c.price }}</td>
                        <td>{{ c.kind }}</td>
                        <td>{{ c.type }}</td>
                        <td>{{ c.weight }}</td>
                        <td>{{ c.description }}</td>
                        <td>{{ c.stockStatus }}</td>
                        <td>{{ c.stockQuantity }}</td>
                        <td><img :src="c.image" width="50px" height="50px" /></td>
                        <td v-if="userRole == 'MANAGER' && factory.id == managerFactoryId"><i class="fas fa-edit" v-on:click="editChocolate(c.id)"></i></td>
                        <td v-if="userRole == 'MANAGER' && factory.id == managerFactoryId"><i class="fas fa-trash-alt" v-on:click="deleteChocolate(c.id)"></i></td>
                        <td v-if="userRole == 'WORKER' && factory.id == managerFactoryId"><i class="fas fa-edit" v-on:click="editChocolate(c.id)"></i></td>
                        <td v-if="userRole == 'CUSTOMER'">
                            <div class="quantity-container">
                                <button v-on:click="decreaseQuantity(c.id)">-</button>
                                <input type="text" v-model="c.quantity" />
                                <button v-on:click="increaseQuantity(c.id)">+</button>
                            </div>
                            <div class="add-to-cart-button-container">
                                <button v-on:click="addToCart(c.id)"
                                        class="add-to-cart-button"
                                        :disabled="isOutOfStock(c)">
                                    Add to cart
                                </button>
                            </div>
                        </td>
                    </tr>
                </table>
    </div>
    <div v-if="userRole == 'MANAGER' && managerFactoryId == factory.id" class="factory-container">
        <h2 v-if="!prikazi">Create chocolate</h2>
        <h2 v-if="prikazi">Update chocolate</h2>
            <form v-on:submit.prevent="nesto">
        <div>
            <label>Chocolate name: </label>
            <input v-model="chocolate.name"/>
        </div>
        <div>
            <label>Price: </label>
            <input  v-model="chocolate.price"/>
        </div>
        <div>
            <label>Kind: </label>
            <input  v-model="chocolate.kind"/>
        </div>
        <div>
            <label>Type: </label>
            <input  v-model="chocolate.type"/>
        </div>
        <div>
            <label>Weight: </label>
            <input v-model="chocolate.weight" />
        </div>
        <div>
            <label>Description: </label>
            <input v-model="chocolate.description" />
        </div>
        <div>
            <label>Image: </label>
              <input type="url" v-model="chocolate.image">
        </div>
        <button v-if="!prikazi" v-on:click="add">Add</button>
        <button v-if="prikazi" v-on:click="update">Update</button>
        </form>
    </div>
</div>

<div v-if="userRole == 'WORKER' && managerFactoryId == factory.id" class="factory-container">
    <h2>Update stock quantity</h2>
    <form v-on:submit.prevent="nesto">
        <div>
            <input v-model="chocolate.stockQuantity"/>
        </div>
        <button v-if="prikazi" v-on:click="update">Update</button>
    </form>
</div>

<div v-if="userRole == 'MANAGER' && managerFactoryId == factory.id">
    <SignUp />
</div>
<transition name="slide-in-right">
    <div v-if="cartPopupVisible && userRole == 'CUSTOMER'" class="cart-popup">
        <h3>Your cart <i class="fa fa-window-close closeIcon" v-on:click="toggleCartPopupClose()"></i></h3><br>
        <div v-for="(item, index) in cartItems" :key="index" class="cart-item">
            <img :src="item.image" width="50px" height="50px" alt="Chocolate Image">
            <div class="item-details">
                <span class="item-name">
                    Name: {{ item.name }}
                    <i class="fa fa-trash-alt itemDelete" v-on:click="removeFromCart(item.id)"></i>
                </span>
                <span class="item-weight">Weight: {{ item.weight }}g</span>
                <span class="item-type">Type: {{ item.type }}</span>
                <span class="item-kind">Kind: {{ item.kind }}</span>
                <span class="item-price">Price: {{ item.price }}</span>
                <span class="item-quantity">
                    Quantity:
                    <button v-on:click="decreaseQuantityInCart(item.id)">-</button>
                    {{ item.quantity }}
                    <button v-on:click="increaseQuantityInCart(item.id)">+</button>
                </span>
                <span class="item-total">Total: {{ calculateTotal(item) }}</span>
                <hr>
            </div>
        </div>
        <p class="total-cart-price">Total Cart Price: {{ calculateCartTotal() }}</p>
        <button v-on:click="makeShopping()">Finish shopping</button>
    </div>
</transition>
</template>

<script setup>
import SignUp from '../components/SignUp.vue'

import {useRoute} from 'vue-router';
import axios from "axios";
import { onMounted, ref } from "vue";
import Cookies from 'js-cookie';

var factory = ref([]);
const chocolates = ref([]);
const shoppings = ref([]);
const comments = ref([]);
const route = useRoute();
var prikazi = ref(false);
var userRole = ref();
var firstName = ref();
var userId = ref();
var lastName = ref();
var managerFactoryId = ref();
var stockQuantity = ref();
const cartPopupVisible = ref(false);
const cartItems = ref([]);
var chocolate = ref({
    id: "",
    name: "",
    price: "",
    kind: "",
    factoryId: route.params.factoryId,
    type: "",
    weight: "",
    description: "",
    stockStatus: "",
    stockQuantity: "",
    image: "",
})
const location = ref({
    id: "",
    streetAndNumber: "",
    city: "",
    postalCode: "",
})
const shopping = ref({
    id: "",
    chocolates: [], // Assuming chocolates is an array of strings
    factoryId: route.params.factoryId,
    shoppingDate: "",
    price: "",
    customerName: "",
    customerId: "",
    shoppingStatus: "", // This should be one of the enum values: PROCESSING, APPROVED, DECLINED, CANCELED
});

onMounted(() => {
    console.log("Id fabrike: " + route.params.factoryId);
    loadFactory();
    loadChocolates();
    loadComments();
    loadLocation();
    setUserRole();
})

function loadFactory(){
    axios.get("http://localhost:8080/WebShopAppREST/rest/factories/" + route.params.factoryId)
        .then(response => (factory.value = response.data))
        .catch(function(error){console.log(error)})
}
function loadChocolates() {
    console.log(factory.value.id);
    axios.get("http://localhost:8080/WebShopAppREST/rest/chocolates/search/?factoryId=" + route.params.factoryId)
        .then(response => {
            chocolates.value = response.data;
            chocolates.value.forEach(chocolate => {
                if(chocolate.stockQuantity > 0)
                    chocolate.quantity = 1;  // Set initial quantity to 1
                else
                    chocolate.quantity = 0;
            });
        })
        .catch(function(error) { console.log(error) });
}
function loadComments(){
    axios.get("http://localhost:8080/WebShopAppREST/rest/comments/search/?factoryId=" + route.params.factoryId)
        .then(response => (comments.value = response.data))
        .catch(function(error){console.log(error)})
}
function loadLocation(){
    axios.get("http://localhost:8080/WebShopAppREST/rest/locations/" + route.params.factoryId)
        .then(response => (location.value = response.data))
        .catch(function(error){console.log(error)})
}
function setUserRole(){ 
  userRole.value = Cookies.get('userRole');
  managerFactoryId.value = Cookies.get('managerFactoryId');
  firstName.value = Cookies.get('firstName');
  lastName.value = Cookies.get('lastName');
  userId.value = Cookies.get('userId');
  console.log("USERNAME: " + firstName.value + " " + lastName.value);
  console.log("USER ROLE: " + userRole.value);
  console.log("MANAGER FACTORY ID: " + managerFactoryId.value);
  if(userRole.value !== 'CUSTOMER' && userRole.value !== 'WORKER' && userRole.value !== 'MANAGER' && userRole.value !== 'ADMINISTRATOR'){
    userRole.value = 'NO_ROLE';
  }
  console.log('OVO JE MOJA ULOGA (FACTORY): ' + userRole.value);
}

function add(){
    chocolate.value.stockQuantity = 0;
    chocolate.value.stockStatus = "OUT_OF_STOCK";
    axios.post(`http://localhost:8080/WebShopAppREST/rest/chocolates/`, chocolate.value)
        .then(response => {
            emptyInputs();
            loadChocolates();

        }).catch(function(error){console.log(error); });
  }

  function makeShopping()
{
    shopping.value.shoppingStatus = "PROCESSING";
    //shopping.value.shoppingDate = "2024-06-24";
    shopping.value.chocolates = cartItems.value.map(item => item.id);
    shopping.value.price = calculateCartTotal();
    shopping.value.factoryId = route.params.factoryId;
    shopping.value.customerName = firstName.value + lastName.value;
    shopping.value.customerId = userId.value;

    console.log(JSON.stringify(shopping.value));

    axios.post(`http://localhost:8080/WebShopAppREST/rest/shoppings/`, shopping.value)
        .then(response => {
            
        }).catch(function(error){console.log(error); });

}

function deleteChocolate(id){
        axios.delete(`http://localhost:8080/WebShopAppREST/rest/chocolates/` + id)
        .then(response => (
            //alert("Chocolate successfully deleted")
            loadChocolates()
        ))
        .catch(function(error){console.log(error); });

        loadChocolates();
}

function editChocolate(id){
    prikazi.value = true;

    axios.get("http://localhost:8080/WebShopAppREST/rest/chocolates/" + id)
        .then(response => (chocolate.value = response.data))
        .catch(function(error){console.log(error)})
        console.log(chocolate.value);
}

function update(id){
    console.log("OVAJ ID MI TREBA: " + chocolate.value.id);
    axios.put("http://localhost:8080/WebShopAppREST/rest/chocolates/" + chocolate.value.id, chocolate.value)
        .then(response =>{
            loadChocolates()
        })
        .catch(function(error){console.log(error)})

    emptyInputs();
    prikazi.value = false;
}
function decreaseQuantity(id) {
    const chocolate = chocolates.value.find(c => c.id === id);
    if (chocolate.quantity > 1) {
        chocolate.quantity--;
    }
}

function decreaseQuantityInCart(id){
    decreaseQuantity(id);
    updateCart(id);
}

function increaseQuantity(id) {
    const chocolate = chocolates.value.find(c => c.id === id);
    if (chocolate.quantity < chocolate.stockQuantity) {
        chocolate.quantity++;
    }
}

function increaseQuantityInCart(id){
    increaseQuantity(id);
    updateCart(id);
}

function updateCart(id){
    const selectedChocolate = chocolates.value.find(c => c.id === id);
    const existingItem = cartItems.value.find(item => item.id === selectedChocolate.id);

    if (existingItem) {
        existingItem.quantity = selectedChocolate.quantity;
    }
}

function toggleCartPopup() {
  cartPopupVisible.value = true;
}
function toggleCartPopupClose() {
  cartPopupVisible.value = false;
}

function addToCart(id) {
  const selectedChocolate = chocolates.value.find(c => c.id === id);
  const existingItem = cartItems.value.find(item => item.id === selectedChocolate.id);

  if (existingItem) {
    existingItem.quantity = selectedChocolate.quantity;
  } else {
    cartItems.value.push({ ...selectedChocolate, quantity: selectedChocolate.quantity });
  }
}

function calculateTotal(item) {
  return item.price * item.quantity;
}

// Calculate total price of all items in cart
function calculateCartTotal() {
  let total = 0;
  cartItems.value.forEach(item => {
    total += item.price * item.quantity;
  });
  return total;
}
function isOutOfStock(chocolate) {
  return chocolate.stockQuantity <= 0;
}
function removeFromCart(id){
    this.cartItems = this.cartItems.filter(item => item.id !== id);
}
function emptyInputs(){
    chocolate.value.name = "";
    chocolate.value.price = "";
    chocolate.value.kind = "";
    chocolate.value.factoryId = "";
    chocolate.value.type = "";
    chocolate.value.weight = "";
    chocolate.value.description = "";
    chocolate.value.stockQuantity = "";
    chocolate.value.stockStatus = "";
    chocolate.value.image = "";
}

</script>

<style scoped>
html, body {
    font-family: Arial, sans-serif;
    background-color: #1c1c1c;
    margin: 0;
    padding: 20px;
    color: #d1d1d1;
    gap: 20px;
}
.main-div{
 display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
}

.factory-container {
    width: 350px;
    background-color: #333;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
    padding: 20px;
    max-width: 300px;
    flex: 1;
    color: #d1d1d1;
    margin: 10px;
}
.chocolates{
    display: flex;
}
.chocolates-container{
    width: 900px;
    background-color: #333;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
    padding: 20px;
    max-width: 900px;
    color: #d1d1d1;
    margin: 10px;
}

h1, h2 {
    color: #00ff00; /* Zelena boja */
}

p {
    color: #d1d1d1;
}

.logo {
    display: block;
    margin: 10px 0;
    max-width: 100%;
    height: auto;
    border: 2px solid #00ff00; /* Zelena boja */
}

.chocolate-list {
    list-style-type: none;
    padding: 0;
}

.chocolate-list li {
    background-color: #555;
    margin: 5px 0;
    padding: 10px;
    border-radius: 5px;
    color: #d1d1d1;
    border: 1px solid #00ff00; /* Zelena boja */
}

form div {
    margin-bottom: 10px;
}

input, select {
    width: calc(100% - 22px);
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #00ff00;
    background-color: #555;
    color: #d1d1d1;
}

button {
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    background-color: #00ff00;
    color: #333;
    cursor: pointer;
}

button:hover {
    background-color: #00cc00;
}

#tabela {
	color: white;
	background-color: #333;
	border-collapse: collapse;
	width: 100%;
}

#tabela th,
#tabela td {
	padding: 8px;
	text-align: left;
	border-bottom: 1px solid #ddd;
}

#tabela th {
	background-color: #555;
}

#tabela tr:nth-child(even) {
	background-color: #444;
}

#tabela tr:hover {
	background-color: #777;
}
.fa-edit{
    cursor: pointer;
}
.fa-trash-alt{
    cursor: pointer;
}

.comment-list {
    list-style: none;
    padding: 0;
}

.comment {
    border: 1px solid #00cc00;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 10px;
}

.author {
    font-weight: bold;
    margin-bottom: 5px;
}

.rating {
    color: green;
}

.quantity-container {
    display: flex;
    align-items: center;
    gap: 5px;
}

.quantity-container button {
    width: 30px;
    height: 30px;
    background-color: green;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 18px; /* Adjusted font size to fit the button */
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
}

.quantity-container input {
    width: 40px;
    text-align: center;
    border: 1px solid #000;
    border-radius: 5px;
}

.add-to-cart-button-container {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.add-to-cart-button {
    background-color: red;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
}

.add-to-cart-button:hover {
    background-color: darkred;
}

.cart-popup {
    position: fixed;
    top: 20px;
    right: 20px;
    background-color: #333;
    color: white;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    z-index: 999;
    width: 300px;
    font-size: 18px;
}

.cart-popup h3 {
    margin-top: 0;
    margin-bottom: 10px;
}

.cart-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.cart-item img {
    margin-right: 10px;
}

.item-details {
    display: flex;
    flex-direction: column;
}

.item-details span {
    margin-bottom: 2px;
}

.total-cart-price {
    font-weight: bold;
    margin-top: 10px;
}

.cart-popup button {
    margin-top: 10px;
    padding: 5px 10px;
    background-color: #00ff00;
    color: #333;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.cart-popup button:hover {
    background-color: #00cc00;
}
.korpa{
    text-align: center;
    vertical-align: middle;
}
.slide-in-right {
    transform: translateX(100%); /* Start offscreen to the right */
    transition: transform 0.3s ease-out; /* Animation duration and easing */
}

.cart-popup-enter-active {
    transform: translateX(0); /* Slide in from right to left */
}
.closeIcon {
    position: absolute;
    right: 10px; /* Povećan razmak od desne ivice */
    top: 15px; /* Povećan razmak od gornje ivice */
    cursor: pointer;
    font-size: 24px; /* Povećana veličina ikonice */
}

/* Stilizovanje za stavke u korpi */
.cart-item {
    display: flex;
    align-items: center;
    margin-bottom: 20px; /* Povećan razmak između stavki */
}

.item-details {
    flex: 1;
    padding-left: 20px; /* Povećan padding s leve strane */
    position: relative;
    font-size: 18px; /* Povećana veličina fonta */
}

.item-name {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 18px; /* Povećana veličina fonta */
}

.itemDelete {
    margin-left: 20px; /* Povećan razmak između imena i ikonice */
    cursor: pointer;
    color: red; /* Boja ikonice za brisanje */
    font-size: 24px; /* Povećana veličina ikonice */
}

</style>