
<script setup>
import FactoriesTable from '../components/FactoriesTable.vue'
import Cookies from 'js-cookie';
import { onMounted, ref } from 'vue';
import axios from "axios";
import { constructNow } from 'date-fns';

var userRole = ref()
var managers = ref([])
var workers = ref([])
var selectedManagerId = ref()
var manager = ref({
    managerFactoryId: ""
})

var factory = ref({
    id: "",
    name: "",
    workingTime: "",
    logo: ""
})
const location = ref({
    id: "",
    streetAndNumber: "",
    city: "",
    postalCode: "",
    locationId: ""
})

onMounted(() => {
  setUserRole();
  loadManagers();
  loadWorkers();
})

function setUserRole(){ 
  userRole.value = Cookies.get('userRole');
  if(userRole.value != 'CUSTOMER' && userRole.value != 'WORKER' && userRole.value != 'MANAGER' && userRole.value != 'ADMINISTRATOR'){
    userRole.value = 'NO_ROLE';
  }
  console.log('OVO JE MOJA ULOGA(Home): ' + userRole.value);
}

async function create(){
    axios.post(`http://localhost:8080/WebShopAppREST/rest/locations/`, location.value)
    .then(response => {
        emptyLocationInputs();
        // loadChocolates();
        location.value = response.data;
    }).catch(function(error){console.log(error); });

    factory.locationId = location.id;
  axios.post(`http://localhost:8080/WebShopAppREST/rest/factories/`, factory.value)
      .then(response => {
           emptyFactoryInputs();
          // loadChocolates();
          factory.value = response.data;
      }).catch(function(error){console.log(error); });

    axios.get("http://localhost:8080/WebShopAppREST/rest/users/" + selectedManagerId.value)
      .then(response => {
          manager.value = response.data;
          console.log("OVO JE MENADZER")
          console.log(manager.value);
        })
      .catch(function(error){console.log(error); });

    //drugi deo koda
          manager.value.managerFactoryId = factory.value.id;
            manager.value.userRole = "MANAGER";
          axios.put(`http://localhost:8080/WebShopAppREST/rest/users/` + selectedManagerId.value, manager.value)
            .then(response => {
              manager.value = response.data;
              loadManagers();
              loadWorkers();
            }).catch(function(error){console.log(error); });

    // console.log(selectedManagerId.value)
    // manager.value.managerFactoryId = factory.value.id;
    // manager.value.userRole = "MANAGER";
    // axios.put(`http://localhost:8080/WebShopAppREST/rest/users/` + selectedManagerId.value, manager.value)
    //   .then(response => {
    //       manager.value = response.data;
    //   }).catch(function(error){console.log(error); });
    
}

function emptyLocationInputs(){
  location.value.streetAndNumber = "";
  location.value.city = "";
  location.value.postalCode = "";
}

function emptyFactoryInputs(){
  factory.value.name = "";
  factory.value.workingTime = "";
  factory.value.logo = "";
}

function loadManagers(){
  axios.get(`http://localhost:8080/WebShopAppREST/rest/users/search/managers`)
    .then(response => {
        managers.value = response.data;
        console.log(workers.value);
    }).catch(function(error){console.log(error); });
}

function loadWorkers(){
    axios.get(`http://localhost:8080/WebShopAppREST/rest/users/search/workers`)
    .then(response => {
        workers.value = response.data;
        console.log(managers.value);
    }).catch(function(error){console.log(error); });
}

</script>

<template>
  <main class="main-div">
    <FactoriesTable />

      <div v-if="userRole == 'ADMINISTRATOR'" class="factory-container">
        <h2>Create factory</h2>
            <form v-on:submit.prevent="nesto">
        <div>
            <label>Factory name: </label>
            <input v-model="factory.name"/>
        </div>
        <div>
            <label>Street and number: </label>
            <input  v-model="location.streetAndNumber"/>
        </div>
        <div>
            <label>City: </label>
            <input  v-model="location.city"/>
        </div>
        <div>
            <label>Postal code: </label>
            <input  v-model="location.postalCode"/>
        </div>
        <div>
            <label>Working time: </label>
            <input v-model="factory.workingTime" />
        </div>
        <div>
            <label>Logo: </label>
              <input type="url" v-model="factory.logo">
        </div>
        <div v-if="managers.length !== 0">
          <label>Manager: </label>
          <select v-model="selectedManagerId" v-for="manager in managers" :key="manager.id">
            <option :value="manager.id">{{manager.firstName}}  {{manager.lastName}}</option>
          </select>
        </div>

        <div v-if="managers.length === 0">
          <label>Proclaim worker for manager: </label>
          <select v-model="selectedManagerId" v-for="worker in workers" :key="worker.id">
            <option :value="worker.id">{{worker.firstName}}  {{worker.lastName}}</option>
          </select>
        </div>

        <button v-on:click="create">Create</button>
        <!-- <button v-if="prikazi" v-on:click="update">Update</button> -->
        </form>
    </div>
  </main>
</template>

<style scoped>
html, body {
    font-family: Arial, sans-serif;
    background-color: #1c1c1c;
    margin: 0;
    padding: 20px;
    color: #d1d1d1;
    gap: 20px;
}
.main-div{
 display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
}

.factory-container {
    width: 350px;
    background-color: #333;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
    padding: 20px;
    max-width: 300px;
    flex: 1;
    color: #d1d1d1;
    margin: 10px;
}

form div {
    margin-bottom: 10px;
}

input, select {
    width: calc(100% - 22px);
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #00ff00;
    background-color: #555;
    color: #d1d1d1;
}

button {
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    background-color: #00ff00;
    color: #333;
    cursor: pointer;
}

button:hover {
    background-color: #00cc00;
}



</style>