<template>
<div class="main-div">
    <div class="factory-container">
        <p><strong>First name:</strong> {{ userPreview.firstName }}</p>
        <p><strong>Last name: </strong>{{ userPreview.lastName }}</p>
        <p><strong>Username: </strong>{{ userPreview.username }}</p>
        <p><strong>Password: </strong>{{ userPreview.password }}</p>
        <p><strong>Gender: </strong>{{ userPreview.gender }}</p>
        <p><strong>Role: </strong>{{ userPreview.userRole }}</p>
        <p><strong>Birth date: </strong>{{ userPreview.birthDate }}</p>
        <p><strong>Points: </strong>{{ userPreview.points }}</p>
        <button v-if="!showUpdateForm" v-on:click="toggleUpdateForm">Change profile</button>
        <RouterLink :to="`/shopping/${customerId}`"  v-if="userRole == 'CUSTOMER'">
            <button>My shoppings</button>
        </RouterLink>
        <RouterLink :to="`/managerShopping/${factoryId}`" v-if="userRole == 'MANAGER'">
            <button>My shoppings</button>
        </RouterLink>
    </div>

    <div v-if="showUpdateForm" class="user-container">
        <h2>Update profile data</h2>
            <form v-on:submit.prevent="nesto">
        <div>
            <label>Username: </label>
            <input v-model="user.username"/>
        </div>
        <div>
            <label>Password: </label>
            <input  v-model="user.password"/>
        </div>
        <div>
            <label>Re-enter password: </label>
            <input  v-model="user.passwordReEntered"/>
        </div>
        <div>
            <label>Name: </label>
            <input  v-model="user.firstName"/>
        </div>
        <div>
            <label>Last name: </label>
            <input v-model="user.lastName" />
        </div>
        <div>
            <label>Gender: </label>
            <select v-model="user.gender">
            <option value="MALE">MALE</option>
            <option value="FEMALE">FEMALE</option>
            </select>
        </div>
        <!-- <div>
            <label>Date of birth: </label>
              <input type="date" v-model="user.birthDate">
        </div> -->

        <button v-on:click="updateUser">Update</button>
        </form>
    </div>
</div>

<div v-if="user.userRole == 'ADMINISTRATOR'">
    <UserTable />
</div>

</template>

<script setup>
import SignUp from '../components/SignUp.vue';
import UserTable from '../components/UsersTable.vue';
import { onMounted, ref } from "vue";
import axios from "axios";
import Cookies from 'js-cookie';
import { RouterLink } from 'vue-router'

var showUpdateForm = ref(false);
var userPreview = ref({
    points: "",
    id: "",
    username: "",
    password: "",
    passwordReEntered: "",
    firstName: "",
    lastName: "",
    gender: "",
    birthDate: "",
    userRole: ""
})
var user = ref({
    points: "",
    id: "",
    username: "",
    password: "",
    passwordReEntered: "",
    firstName: "",
    lastName: "",
    gender: "",
    birthDate: "",
    userRole: ""
})
const customerId = ref();
const userRole = ref();
const factoryId = ref();

onMounted(() => {
    loadUser();
})

function loadUser(){
    const userId = Cookies.get('userId');
    const role = Cookies.get('userRole');
    const factory = Cookies.get('managerFactoryId');
    userRole.value = role;
    customerId.value = userId;
    factoryId.value = factory;
    axios.get("http://localhost:8080/WebShopAppREST/rest/users/" + userId)
        .then(response => {
            userPreview.value = response.data;
            // user.value = response.data;
            //Duboka kopija podataka
            user.value = JSON.parse(JSON.stringify(response.data));
            user.value.passwordReEntered = response.data.password;
        })
        .catch(function(error){console.log(error)})
}
function toggleUpdateForm(){
    showUpdateForm.value = !showUpdateForm.value;
}

function updateUser(){
    const userId = Cookies.get('userId');
    axios.put("http://localhost:8080/WebShopAppREST/rest/users/" + userId, user.value)
        .then(response => {
            userPreview.value = response.data;
            toggleUpdateForm();
        })
        .catch(function(error){console.log(error)})
}

</script>

<style scoped>
html, body {
    font-family: Arial, sans-serif;
    background-color: #1c1c1c;
    margin: 0;
    padding: 20px;
    color: #d1d1d1;
    gap: 20px;
}
.main-div{
 display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
}

.factory-container {
    width: 350px;
    background-color: #333;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
    padding: 20px;
    max-width: 300px;
    flex: 1;
    color: #d1d1d1;
    margin: 10px;
}

form div {
    margin-bottom: 10px;
}

input, select {
    width: calc(100% - 22px);
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #00ff00;
    background-color: #555;
    color: #d1d1d1;
}

button {
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    background-color: #00ff00;
    color: #333;
    cursor: pointer;
}

button:hover {
    background-color: #00cc00;
}

</style>
