<template>
  <div>
    <div class="main-div">
      <div class="search-container">
        <div class="search-div" v-if="userRole == 'CUSTOMER'">
          <label>Search by Factory Name:</label>
          <input v-model="factoryFilter" placeholder="Enter factory name">
          <div class="search-div" v-if="userRole == 'CUSTOMER' || userRole == 'MANAGER'">
            <label>Price Range:</label>
            <input type="number" v-model.number="minPrice" placeholder="Enter min price">
            <input type="number" v-model.number="maxPrice" placeholder="Enter max price">
            <button @click="applyFilter">Apply Filter</button>
          </div>
        </div>
      </div>

      <div class="shoppings-container">
        <h2>Shoppings</h2>
        <table id="shopping-table">
          <thead>
            <tr>
              <th @click="sortTable('id')">Shopping ID <span>{{ getSortIcon('id') }}</span></th>
              <th @click="sortTable('factoryId')">Factory name <span>{{ getSortIcon('factoryId') }}</span></th>
              <th @click="sortTable('shoppingDate')">Shopping Date <span>{{ getSortIcon('shoppingDate') }}</span></th>
              <th @click="sortTable('price')">Price <span>{{ getSortIcon('price') }}</span></th>
              <th @click="sortTable('customerName')">Customer Name <span>{{ getSortIcon('customerName') }}</span></th>
              <th @click="sortTable('shoppingStatus')">Shopping Status <span>{{ getSortIcon('shoppingStatus') }}</span></th>
              <th>Chocolates</th>
              <th v-if="userRole == 'CUSTOMER'">Cancel order</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="shopping in displayedShoppings" :key="shopping.id">
              <td>{{ shopping.id }}</td>
              <td>{{ getFactoryName(shopping.factoryId) }}</td>
              <td>{{ shopping.shoppingDate }}</td>
              <td>{{ shopping.price }}</td>
              <td>{{ shopping.customerName }}</td>
              <td>{{ shopping.shoppingStatus }}</td>
              <td>
                <ul>
                  <li v-for="chocolate in shopping.chocolates" :key="chocolate.id">
                    <img :src="getChocolateImage(chocolate)" :alt="chocolate.name" class="chocolate-image" />
                  </li>
                </ul>
              </td>
              <td v-if="userRole == 'CUSTOMER'">
                <button :disabled="shopping.shoppingStatus !== 'PROCESSING'" @click="cancelOrder(shopping)">Cancel order</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</template>

<script setup>
import { onMounted, ref, computed } from "vue";
import axios from "axios";
import Cookies from 'js-cookie';

const shoppings = ref([]);
const factories = ref([]);
const chocolates = ref([]);
const factoryFilter = ref("");
const appliedFactoryFilter = ref("");
const userRole = ref();
const userId = ref();
const firstName = ref();
const lastName = ref();
const managerFactoryId = ref();
const sortKey = ref('');
const isSortedAsc = ref(true);
const isFiltered = ref(false);
const minPrice = ref(0);
const maxPrice = ref(100000);

var loggedUser = ref({
    points: "",
    id: "",
    username: "",
    password: "",
    passwordReEntered: "",
    firstName: "",
    lastName: "",
    gender: "",
    birthDate: "",
    userRole: ""
});


onMounted(() => {
  setUserRole();
  loadFactories();
  loadShoppings();
  loadChocolates();
  getLoggedUser();
});

function loadShoppings() {
  axios.get(`http://localhost:8080/WebShopAppREST/rest/shoppings/search?customerId=${userId.value}`)
    .then(response => {
      shoppings.value = response.data;
    })
    .catch(error => {
      console.error('Error loading shoppings:', error);
    });
}

function cancelOrder(shopping) {
  shopping.shoppingStatus = "CANCELED";
  axios.put(`http://localhost:8080/WebShopAppREST/rest/shoppings/${shopping.id}`, shopping)
    .then(response => {
      loadShoppings(); // Ponovo učitava narudžbine nakon ažuriranja
      // Smanjujemo bodove korisnika
      loggedUser.value.points -= (shopping.price / 1000 * 133 * 4);
      // Ažuriramo korisnika
      axios.put(`http://localhost:8080/WebShopAppREST/rest/users/${userId.value}`, loggedUser.value)
        .then(response => {
          console.log('User points updated successfully:', response.data);
        })
        .catch(error => {
          console.error('Error updating user:', error);
        });
    })
    .catch(error => {
      console.error('Error updating shopping:', error);
    });
}
function getLoggedUser(){
  axios.get(`http://localhost:8080/WebShopAppREST/rest/users/${userId.value}`)
      .then(response => {
          loggedUser.value = response.data;
        })
        .catch(error => {
          console.error('Error loading user:', error);
        });
}

function loadFactories() {
  axios.get(`http://localhost:8080/WebShopAppREST/rest/factories`)
    .then(response => {
      factories.value = response.data;
    })
    .catch(error => {
      console.error('Error loading factories:', error);
    });
}

function loadChocolates() {
  axios.get('http://localhost:8080/WebShopAppREST/rest/chocolates')
    .then(response => {
      chocolates.value = response.data;
    })
    .catch(error => {
      console.error('Error loading chocolates:', error);
    });
}

function getFactoryName(factoryId) {
  const factory = factories.value.find(f => f.id === factoryId);
  return factory ? factory.name : 'Unknown Factory';
}

function getChocolateImage(chocolateId) {
  const chocolate = chocolates.value.find(c => c.id === chocolateId);
  return chocolate ? chocolate.image : '';
}

function setUserRole() {
  userRole.value = Cookies.get('userRole');
  userId.value = Cookies.get('userId');
  managerFactoryId.value = Cookies.get('managerFactoryId');
  firstName.value = Cookies.get('firstName');
  lastName.value = Cookies.get('lastName');
  if (userRole.value !== 'CUSTOMER' && userRole.value !== 'WORKER' && userRole.value !== 'MANAGER' && userRole.value !== 'ADMINISTRATOR') {
    userRole.value = 'NO_ROLE';
  }
}

const filteredShoppings = computed(() => {
  return shoppings.value.filter(shopping => {
    const factoryName = getFactoryName(shopping.factoryId);
    const price = parseFloat(shopping.price);
    if(userRole.value == 'CUSTOMER')
    {
      return factoryName.toLowerCase().includes(appliedFactoryFilter.value.toLowerCase()) && price >= minPrice.value && price <= maxPrice.value;
    }
    else (userRole.value == 'MANAGER')
    {
      return price >= minPrice.value && price <= maxPrice.value;
    }
  });
});

const displayedShoppings = computed(() => {
  return isFiltered.value ? filteredShoppings.value : shoppings.value;
});

function applyFilter() {
  appliedFactoryFilter.value = factoryFilter.value.trim();
  if(userRole.value == 'MANAGER')
  {
    if (!minPrice || !maxPrice) {
      isFiltered.value = false;
    } 
    else {
      isFiltered.value = true;
    }
  }
  else if(userRole.value == 'CUSTOMER')
  {
    if (!minPrice || !maxPrice || appliedFactoryFilter.value === "") {
      isFiltered.value = false;
    } 
    else {
      isFiltered.value = true;
    }
  }
  else
  {
    isFiltered.value = false;
  }
}

function sortTable(key) {
  if (sortKey.value === key) {
    isSortedAsc.value = !isSortedAsc.value;
  } else {
    sortKey.value = key;
    isSortedAsc.value = true;
  }
}

const getSortIcon = (key) => {
  if (sortKey.value !== key) return '';
  return isSortedAsc.value ? '▲' : '▼';
};
</script>

<style scoped>
html, body {
  font-family: Arial, sans-serif;
  background-color: #1c1c1c;
  margin: 0;
  padding: 20px;
  color: #d1d1d1;
}

.main-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.search-container {
  margin-bottom: 20px;
}

.search-div {
  margin-right: 20px;
}

.shoppings-container {
  width: 100%;
  max-width: 1200px;
  background-color: #333;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
  padding: 20px;
  color: #d1d1d1;
}

h2 {
  color: #00ff00; /* Green color */
  margin-bottom: 20px;
}

#shopping-table {
  width: 100%;
  border-collapse: collapse;
  color: white;
  background-color: #333;
}

#shopping-table th,
#shopping-table td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

#shopping-table th {
  background-color: #555;
  cursor: pointer;
}

#shopping-table tr:nth-child(even) {
  background-color: #444;
}

#shopping-table tr:hover {
  background-color: #777;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

li {
  background-color: #555;
  margin: 5px 0;
  padding: 5px;
  border-radius: 5px;
}

.chocolate-image {
  width: 50px; /* Širina slike */
  height: 50px; /* Visina slike */
  object-fit: cover; /* Opciono, omogućava prilagođavanje slike unutar dimenzija */
}
</style>
